{% extends 'base.html.twig' %}

{% block titrePage %}
    Formulaire d'ajout d'une recherche
{% endblock %}

{% block contenu %}
    <div class="container-fluid">
	    <div class="row">
            <div class="col-md-12">
                Cette page contiendra le formulaire d'ajout d'une recherche
            </div>
	    </div>
    </div>
{% endblock %}
