{% extends 'base.html.twig' %}

{% block titrePage %}
    Créer une nouvelle entreprise
{% endblock %}

{% block contenu %}
    {{ include('entreprise/_form.html.twig') }}

    <a href="{{ path('entreprise_index') }}">Retour vers la liste des entreprises</a>
{% endblock %}
