label.required:before {
    content: "* ";
    color: red;
}

#chargement {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Fix CSS du thème de formulaire de Bootstrap qui affiche les messages d'erreurs en blanc */
.badge {
    background-color:#dc3545;
}


/*Page Index */
.form-control{
	border:solid 1px black;
}

#boutonAjoutRecherche{
	float:right;
}

.thead{
	background:#8fc857;
}

[class~=enTete]{
	border:solid 2px #228B22;
	background-color:#8fc857;
	margin-bottom:3%;
}

[class~=boutonsTable]{
	margin-bottom:2%;
}
