label.required:before {
    content: "* ";
    color: red;
}

#chargement {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Fix CSS du thème de formulaire de Bootstrap qui affiche les messages d'erreurs en blanc */
.badge {
    background-color:#dc3545;
}