label.required:before {
    content: "* ";
    color: red;
}

#chargement {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Fix CSS du thème de formulaire de Bootstrap qui affiche les messages d'erreurs en blanc */
.badge {
    background-color:#dc3545;
}


/*Page Index */
.form-control{
	border:solid 1px black;
}

#boutonAjoutRecherche{
	float:right;
}

.thead{
	background:#8fc857;
}

.enTete {
	border:solid 2px #228B22;
	background-color:#8fc857;
	margin-bottom:3%;
}

.boutonsTable {
	margin-bottom:2%;
}

.celluleBoutonModif {
    text-align:center;
    vertical-align: middle;
}

.invisible {
    display:none;
}


/* MEDIA QUERIES POUR LE RESPONSIVE */

/* Au-delà de 1500 pixels de largeur, on peut laisser tous les champs */
@media only screen and (max-width: 1500px) {
    /* Entre 1500 et 800 pixels de largeur, on retire uniquement
    - L'adresse de l'entreprise
    - Le mail de l'entreprise
    - Le téléphone de l'entreprise
    */
    .facultatif-nv-1 {
        display:none;
    }
}

@media only screen and (max-width: 800px) {
    /* Entre 800 et 600 pixels de largeur, on retire uniquement
    - L'adresse de l'entreprise
    - Le mail de l'entreprise
    - Le téléphone de l'entreprise
    - Le nom du contact
    - La fonction du contact
    - Le média utilisé
    */
    .facultatif-nv-2 {
        display:none;
    }
}

@media only screen and (max-width: 600px) {
    /* Entre 600 et moins de pixels de largeur, on retire uniquement
    - L'adresse de l'entreprise
    - Le mail de l'entreprise
    - Le téléphone de l'entreprise
    - Le nom du contact
    - La fonction du contact
    - Le média utilisé
    - L'action
    */
    .facultatif-nv-3 {
        display:none;
    }
}