{% extends 'base.html.twig' %}

{% use 'form_div_layout.html.twig' with form_label as base_form_label %}

{% block form_label %}
    {{ block('base_form_label') }}

    {% if required %}
        <span class="required" title="This field is required">*</span>
    {% endif %}
{% endblock %}

{% block titrePage %}
    Formulaire d'ajout d'une recherche
{% endblock %}

{% block contenu %}
    <div class="container-fluid">
	    <div class="row">
            <div class="col-md-6 offset-md-3">
                    {{ form(vueFormulaireRecherche) }}

                    <br/>

                    <button type="submit" class="btn btn-dark">Enregistrer</button>
            </div>
	    </div>
    </div>
{% endblock %}


