{% extends 'base.html.twig' %}

{% block titrePage %}
    Modifier un étudiant
{% endblock %}

{% block contenu %}
    {{ include('etudiant/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('etudiant_index') }}">Retour vers la liste des étudiants</a>

    {{ include('etudiant/_delete_form.html.twig') }}
{% endblock %}
