{% extends 'base.html.twig' %}

{% block titrePage %}
    Créer un nouvel étudiant
{% endblock %}

{% block contenu %}
    {{ include('etudiant/_form.html.twig') }}

    <a href="{{ path('etudiant_index') }}">Retour vers la liste des étudiants</a>
{% endblock %}
